#-------------------------
# env
#-------------------------

/env

#-------------------------
# IDE / Development Files
#-------------------------
# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml
.Rhistory

#-------------------------
# Temp files
#-------------------------

/AURN_Data_Download/AURN_data_download
*.tmp

#-------------------------
# Data files
#-------------------------

AURN_metadata.RData
*.csv
/MEDMI_Data_Preprocessing/met_postprocessing/


#------------------------
# Python cache files
#------------------------
*.pyc
